{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include "core/navbar.html" %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>About Us</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
            <div class="bg-light p-5 rounded-lg m-3">
                {% comment %} <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> {% endcomment %}
                <hr class="my-4">
                <img src={% static 'assets\img\coming_soon.png' %} class="img-fluid" alt="">
                <hr class="my-4">
                {% comment %} <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> {% endcomment %}
                {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
            </div>
        </div>
    </section><!-- End Trainers Section -->
  </main><!-- End #main -->


{% endblock content %}