{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include "core/navbar.html" %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>ক্লাশ রুটিন</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
            <div class="bg-light p-5 rounded-lg m-3">
                <p class="lead">{{class_routine.title}}</p>
                <p>Published Date: {{class_routine.publish_date}}</p>
                <hr class="my-4">
                <a href='{{class_routine.file.url}}'>
                  <img src={% static 'assets\img\download_img.jpg' %} class="img-fluid" alt="">
                </a>
                <hr class="my-4">
                {% comment %} <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> {% endcomment %}
                {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
            </div>
        </div>
    </section><!-- End Trainers Section -->
  </main><!-- End #main -->


{% endblock content %}