<!DOCTYPE html>
{% load static %}
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>{{school.name}}</h3>
          <p>
            {{school.thana}} <br>
            {{school.zilla}}
            <br>
            বাংলাদেশ। <br><br>
            <strong>ফোন:</strong> {{school.phone}} <br>
            <strong>ইমেইল:</strong> {{school.email}}<br>
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>প্রয়োজনীয় লিংক</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.moedu.gov.bd/">শিক্ষা মন্ত্রানালয়</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://konnect.edu.bd/">কিশোর বাতায়ন</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.dhakaeducationboard.gov.bd/">ঢাকা শিক্ষাবোর্ড</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://eboardresults.com/bn/ebr.app/home/">রেজাল্ট [JSC, SSC]</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="footer-artwork" id="footer-artwork">&nbsp;</div>
      <div class="credits">
        Developed by <a href="https://www.linkedin.com/in/shehanuk-ahsan/">Ahsan Habib</a>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->