{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include "core/navbar.html" %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{school.name}}</h1>
      <h2>{{school.thana}}, {{school.zilla}}</h2>
      <!-- <a href="courses.html" class="btn-get-started">Get Started</a>  -->
    </div>
  </section><!-- End Hero -->
 {% if marquee_flag %} <marquee>This site is under development.</marquee>{% endif %}
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/side-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>{{school.description_title}}</h3>
            <p class="fst-italic">
              {{school.description}}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{school.student_count}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{school.class_count}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Classes</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{teacher_count}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Teachers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


    <!-- ======= Teachers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% if headmaster %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{headmaster.picture.url}}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>{{headmaster.name}}</h4>
                <span>Headmaster</span>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  <br>
                  <a href=""><i class="bi bi-whatsapp"> {{headmaster.phone_number}}</i></a>
                  <br>
                  <a href="{% url "headmaster_speech" %}"><i class="bi bi-chat-dots">প্রধান শিক্ষকের বাণী</i></a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if asst_headmaster %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{asst_headmaster.picture.url}}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>{{asst_headmaster.name}}</h4>
                <span>Asst. Headmaster</span>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  <br>
                  <a href=""><i class="bi bi-whatsapp"> {{asst_headmaster.phone_number}}</i></a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if third_teacher %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{third_teacher.picture.url}}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>{{third_teacher.name}}</h4>
                <span>Asst. Teacher</span>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  <br>
                  <a href=""><i class="bi bi-whatsapp"> {{third_teacher.phone_number}}</i></a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
  {% endblock content %}