{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include "core/navbar.html" %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
          <h2>Notice Board</h2>
          {% comment %} <p>{% lorem 1 b random %} </p> {% endcomment %}
        </div>
      </div><!-- End Breadcrumbs -->
  <div class="container mt-2 overflow-auto text-secondary">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class=".th-lg">Title</th>
            <th scope="col">Publish On</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="">Title - Title of test notice</a></td>
            <td>12/12/12 12:12pm</td>
            <td><a href=""><i class="bi bi-cloud-download-fill"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock content %}