{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include "core/navbar.html" %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
          <h2>Notice Board</h2>
          {% comment %} <p>{% lorem 1 b random %} </p> {% endcomment %}
        </div>
      </div><!-- End Breadcrumbs -->
  <div class="container mt-2 overflow-auto text-secondary">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class=".th-lg">Title</th>
            <th scope="col">Publish On</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
          {% if not notices %}
          <tr>
            <td colspan="3" class="text-center">No notice available</td>
          </tr>
          {% endif %}
          {% for notice in notices %}
          <tr>
            <td><a href="">{{ notice.title }}</a></td>
            <td>{{ notice.publish_date }}</td>
            <td><a href="{{ notice.file.url }}"><i class="bi bi-cloud-download-fill"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock content %}