{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include "core/navbar.html" %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>অন্যান্য কর্মচারী</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% if stuffs|length == 0 %}
            <p>No Stuff found</p>
          {% endif %}
          {% for stuff in stuffs %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{stuff.get_picture}}" class="img-fluid img-thumbnail" style="object-fit: contain;"  alt="">
              <div class="member-content">
                <h4><a href="/stuff/{{ stuff.id }}/">{{stuff.name}}</a></h4>
                <span>{{stuff.designation}}</span>
                <div class="social">
                          <a href=""><i class="bi bi-facebook"></i></a>
                          <a href=""><i class="bi bi-linkedin"></i></a>
                          <br>
                          <a href=""><i class="bi bi-whatsapp"> {{stuff.phone_number}}</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
        </section><!-- End Trainers Section -->
      </main><!-- End #main -->

      

{% endblock content %}