{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include "core/navbar.html" %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Our Honarable Teachers</h2>
        <p>{% lorem 1 b random %} </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static 'assets/img/trainers/sakil.jpg' %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Masum Billah Shakil</h4>
                    <span>Headmaster</span>
                    <div class="social">
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                      <br>
                      <a href=""><i class="bi bi-whatsapp"> 019613335525</i></a>
                    </div>
                  </div>
                </div>
              </div>



        </div>

      </div>
    </section><!-- End Trainers Section -->

    <h5>In Bootstrap v4.x</h5>

<div class="jumbotron m-3">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<h5>In Bootstrap v5.x</h5>

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

  </main><!-- End #main -->


{% endblock content %}